syntax: glob
.idea
*.ids
*.iml
*.eml
*.ipr
*.iws
*.class
*.swp
*.tern-projec
.classpath
.project
.settings
*.MF
bin
*zip
*war
*md5

.settings
*/build
*/bin
*/target
*/test-output
all/*

rmiprofiles/*/ALTest
rmiprofiles/*/*Profile/*
rmiprofiles/*/*Profile.jar
